body {
    background-color: blue;
}

h1   {color: blue;;}
h2   {color: rgb(255, 0, 255);}
p    {color: rgb(255, 0, 0);}


.news {
    font-size: large;
}
.news:not([about="history"]) {background-color:darkblue; color:white}

#bio {
    font-style: italic;
}
.grid-container {
    display: grid;
    width: 100vh;  
    height: 30vh;
    grid-row: 02fr 1.5fr 1.2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "main empty sidebar"
                         "footer footer footer";
    grid-gap: 0.2em;
}

header{background-color: rgb(255, 128, 0);
grid-area:header;}
main{background-color: rgb(0, 157, 255);
grid-area: main;}
empty{background-color: hotpink;
grid-area: empty;}
sidebar{background-color: red;
grid-area: sidebar;}
footer{background-color: rgb(0, 255, 64);
grid-area: footer}

@media only screen and (max-width:30px)

.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-item-left {
    flex: 50%;
  }
  
  .flex-item-right {
    flex: 50%;
  }
  input[type=create] {
    width: 10%;
    background-color: #00b3ff;
    color: white;
    padding: 7px 10px;
    margin: 4px 1;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-sizing:border-box ;
  }
  input[type=create]:hover {
    background-color:#00b3ff;
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .form-control {
        font-family: system-ui, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.1;
      }